<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>グラブル待機ルーム</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon">
	<link href="umi/css/bootstrap.min.css" rel="stylesheet">
	<link href="fireworks.js/style/fireworks.css" rel="stylesheet">
	<link href="css/yakan.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="fireworks.js/script/soundmanager2-nodebug-jsmin.js"></script>
	<script src="fireworks.js/script/fireworks.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header col-md-4">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<form class="navbar-form navbar-left col-xs-10 col-md-12">
					<div class="form-group col-xs-9">
						<input type="text" class="form-control text" id="msg_box" autocomplete="off" placeholder="例)ANAKIN">
					</div>
					<button type="submit" class="btn btn-default push col-xs-3 " id="enter_button">入室</button>
					<button type="submit" class="btn btn-default push col-xs-3 hidden" id="msg_button">送信</button>
				</form>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="navbar-text" id="user"></li>
					<li class="navbar-text" id="info"></li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Member <span class="caret"></span></a>
						<ul class="dropdown-menu" id=member></ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:document.location.reload();"><span class="glyphicon glyphicon-remove"></span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="alert alert-info dealpass">
		<div class="progress progress-striped active">
			<div class="progress-bar dealbar" style="width:0%"></div>
		</div>
		<button type="button" class="btn btn-info" id="deal">Deal</button>
		<button type="button" class="btn btn-danger" id="pass">Pass</button>
	</div>
	<div id="alert"></div>
	<div id="log">
		<ul class="chatlist">
			<li class="chat">グラブル待機ルームへようこそ！</li>
			<li class="chat">まずはきくうしさまの名前を登録しよう</li>
		</ul>
	</div>
	<div id="fireworks-template">
		<div id="fw" class="firework"></div>
		<div id="fp" class="fireworkParticle"><img src="fireworks.js/image/particles.gif" alt="" /></div>
	</div>
	<div id="fireContainer"></div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/socket.js"></script>
	<script src="umi/js/bootstrap.min.js"></script>
	<script>var MODE="<%=mode %>"</script>
</body>

</html>
